@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}


<h3>@ViewData["Title"]</h3>

<div class="personalDataContainer">
<div class="row">
    <div>
        <p class="pFont">Your account contains personal data that you have given us. This page allows you to download or delete that data.</p>
        <p class="pFont">
            Deleting this data will permanently remove your account, and this cannot be recovered.
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
                <button class="enterButtonNavIndex" type="submit">Download</button>
        </form>
        <p>
                <a id="delete" asp-page="DeletePersonalData" class="linkToButton">Delete</a>
        </p>
    </div>
</div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
