@using WindTalkerMessenger.Models.DataLayer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model WindTalkerMessenger.Models.ViewModels.ChatOptionsViewModel


@if (!SignInManager.IsSignedIn(User))
{
    <p>It appears you are not logged in or you are not registered.</p>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Login">Login to start!</a>
    <a class="btn btn-primary" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <p>Or you can pick a guest name and then click "Start Chatting".</p>
    <form asp-action="Guest" asp-controller="Messaging" method="post" id="guest_form">
        <span id="guestError"></span>
        <input type="text" placeholder="Pick Chat Name" name="chatName" id="chatName" />
        <button type="submit" class="btn btn-primary" id="guestSend" name="guestSend">Start Chatting</button>
    </form>
}
else
{
    <form asp-action="Guest" asp-controller="Messaging" method="post" id="guest_form">
        <span id="guestError"></span>
        <input type="text" placeholder="Pick Chat Name" name="chatName" id="chatName" />
        <button type="submit" class="btn btn-primary" id="guestSend" name="guestSend">Start Chatting</button>
    </form>
}


<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script>
    $("#guestOption").click(function () {
        console.log("Works");
        $("#chatName").toggleClass("recShow");
    })
</script>

<script>
    //https://stackoverflow.com/questions/57328836/post-fetch-net-core
    $("#guestSend").click((event) => {
        event.preventDefault();
        const chatName = $("#chatName").val();
        const request = `/CheckChatName/${chatName}`;
        alert("Clicked")
        fetch(request, {
            method: 'POST',
            body: JSON.stringify({ ChatName: chatName }),
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json;charset=UTF-8'
            }
        })
            .then(response => response.json())
            .then(response => nameCheck(response, chatName))
            .catch(error => caughtErrors(error))
    });
        
    function nameCheck(response,chatName){
        alert("Inside the namecheck fun")
        console.log(response);
        console.log(chatName);
        localStorage.setItem("UserChatName", chatName.toString());
        if (response == true) {
            alert("Inside response = true");
            $("#guestError").text("That chat name is taken.");
            console.log("Failed");
        } else {
            alert("Inside repsonse = false");
            localStorage.setItem("UserChatName", chatName.toString());
            $("#guest_form").submit();
        }
    }

    const caughtErrors = (error) => {
        console.log(error.toString());
    }
</script>