@using System.Security.Claims
@using WindTalkerMessenger.Models.DataLayer
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<html>
<head>
	<!-- Import this CDN to use icons -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css" />
	<script src="https://code.jquery.com/jquery-3.6.0.min.js" /></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/5.0.13/signalr.min.js" /></script>

	<style>
		button {
			border-radius: 5px;
			width: 100%;
		}
		#li {
			display: inline-block;
			width: 100%;
		}
		body {
			background-image: url('../banner.jpg');
			background-repeat: no-repeat;
			background-attachment: fixed;
			background-size: 100% 100%;
		}
		.containerBase{
			margin-top:100px;
		}
	</style>
</head>

<body>
	<div class="containerBase">
		<div>
		</div>
		<div id="chat-page">
			<div class="maindiv">
				<div id="reversal">
					<ul id="leftinnerdiv">
					</ul>
					<div id="rightinnerdiv">
						<p id="chatParagraph">Options</p>
						<p>Enter a Username below to begin new chat.</p>
						<input type="text"
							   id="username"
							   class="username"
							   placeholder="Username" />
						@if (SignInManager.IsSignedIn(User))
						{
							<p>To delete your PROFILE and CHAT HISTORY click the "Kill Switch" below.</p>

							<p><span id="warning">WARNING:</span> THIS ACTION IS NOT REVERSABLE!</p>
							<button class="enableSwitch"
							id="enableSwitch"
							name="enableSwitch">
								Enable Kill Switch
							</button>

							<form asp-controller="Messaging" asp-action="KillSwitch">
								<input type="hidden" name="userName" value="@User.Identity.Name" />
								<button class="killswitch"
								id="killswitch"
								type="submit"
								disabled>
									Kill Switch
								</button>
							</form>
						}else{
							<p>Register or Login for the Kill Switch!</p>
						}
					</div>
				</div>
				@if (SignInManager.IsSignedIn(User))
				{
					<div id="chatsAside">
						<p id="chatParagraph">Chats</p>
						<ul id="chatList">
						</ul>
					</div>
				}else{
					<div id="chatsAside">
						<p id="chatParagraph">Chats</p>
						<p>Register or Login for a Chat List!</p>
						<p>Because you are just a guest you can only
						   chat with one person at a time.
						</p>
					</div>
				}
			</div>
			<div class="msg-bottom" id="messageContainer">
				<div class="input-group">
					<input type="text"
						   id="message"
						   class="form-control"
						   placeholder="Write message..." />
				</div>
				<button class="sendButton" id="sendButton">Transmit</button>
			</div>
		</div>
	</div>
</body>
</html>
