@using WindTalkerMessenger.Models.DataLayer
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<div class="containerBase">
    <div class="text-center">

@if (!SignInManager.IsSignedIn(User))
{
            <a class="enterButton" asp-area="Identity" asp-page="/Account/Login">Login</a>
            <a class="enterButton" sp-area="Identity" asp-page="/Account/Register">Register</a>
    <p>Or you can pick a guest name and then click "Start Chatting".</p>
    <form asp-action="Guest" asp-controller="Messaging" method="post" id="guest_form">
            <input type="text" placeholder="Pick Chat Name" class="username" name="chatName" id="chatName" />
                <button type="submit" class="enterButton" id="submitButton" name="guestSend">Start Chatting</button>
                <div id="guestError"></div>
            </form>
}
else
{
            <form asp-action="Guest" asp-controller="Messaging" method="post" id="guest_form">
                <span id="guestError"></span>
                <input type="text" placeholder="Pick Chat Name" name="chatName" id="chatName" />
                <button type="submit" class="enterButton" id="submitButton" name="guestSend">Start Chatting</button>
            </form>
}
</div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script>
    //https://stackoverflow.com/questions/57328836/post-fetch-net-core

    $("#submitButton").click(async function (event) {
        event.preventDefault();
        const chatName = $("#chatName").val().trim();
        const request = `/CheckChatName/CheckName/${chatName}`
        await fetch(request, {
            method: 'POST',
            body: JSON.stringify({ ChatName: chatName }),
            headers: {
                'Accept': 'application/json; charset=utf-8',
                'Content-Type': 'application/json;charset=UTF-8'
            }
        })
            .then(response => response.json())
            .then(response => nameCheck(response, chatName))
            .catch(error => caughtErrors(error))
    });
    function valueCheck(chatName) {
        if (chatName == "") {
            $("#guestError").text("Please enter a username.");
            $("#chatName").focus();
        }

    }
    function nameCheck(response, chatName) {
        if (response == true) {
            $("#guestError").text("That chat name is taken.");
        } else {
            sessionStorage.setItem('UserChatName', chatName);
            console.log("set");
            $("#guest_form").submit();
        }
    }

    const caughtErrors = (error) => {
        console.log(error.toString());
    }
</script>