
<style>
	body {
		background-image: url('../banner.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}

	#container {
		width: 1350px;
		height: 500px;
		background-color: black;
		margin: auto;
		color: green;
		opacity: 95%;
		border-radius: 25px;
		font-size: 20px;
		font-weight: bold;
	}

	#textarea {
		padding: 25px;
	}

	h2 {
		margin-bottom: 70px;
	}

	#enterButton {
		margin-top: 40px;
		background-color: black;
		border-color: #7ACC00;
		border-width: 1px;
		height: 50px;
		color: #7ACC00;
		font-size: 20px;
		font-weight: bold;
	}

		#enterButton:hover {
			background-color: darkgreen;
			opacity: 95%;
		}

</style>

<div id="container">
	<div id="textarea" class="text-center">
		<h1>About the Agent Correspondance Terminal</h1>
		<h2>Powered by Wind Talker Technology Inc.</h2>
		<p>The Agent Correspondance Terminal was created in a joint effort
		   by the DoD and DARPA and the Wind Talker infrastructure that powers
		   the terminal was designed and implemented by a private contractor.
		   Your correspondances are considered Top Secret if they are sent through
		   this terminal. Because of the Top Secret clearance required for use of this
		   terminal, you will NOT be held responsible for any information exchanged
		   between you and another agent. If you suspect that the agent in which
		   you are corresponding with has been compromised, contact your headquarters
		   immediately and attempt to gather as much intel as possible without tipping
		   off the alleged double-agent. If you suspect that YOU have been compromised,
		   activate the kill switch on your DoD provided laptop to destroy it. If you
		   are accessing this terminal without the proper clearance, you have already
		   been identified and the authorities will be intercepting you shortly. Have a nice day!
		</p>
	</div>
</div>
