<!--The link below is the original source code for the blinking cursor-->
<!--https://dev.to/phuocng/blinking-cursor-35f4-->

<style>
	.warn {
		color: red;
	}

	.listStyle{
		list-style:none;
	}
</style>



<div class="aboutContainer containerBase">
	<div id="textarea" class="text-center">
		<h1>Ground Rules of Wind Talker</h1>
		<h2 class="abouth2">Taking back privacy.</h2>
		<p>When a guest leaves their chats and chat name are automatically deleted.</p>
		<p>
			If you are a registered user, you can have saved chats. In addition, you have
			access to a kill switch on the chat page that when pressed deletes your chat history and
			deletes your account.
		</p>
		<p>Guest users <span class="warn">CANNOT:</span></p>
		<ul class="listStyle">
			<li>-Have messages queued if the user they are messaging is not online.</li>
			<li>-Have messages queued for them if a user messages them while they are not online.</li>
			<li>-Have access to old chat history.</li>
			<li>-Have their chat name reserved after disconnect.</li>
		</ul>
		<p>Registered users <span class="warn">CAN:</span></p>
		<ul class="listStyle">
			<li>-Have messages queued if the user they are messaging is not online.</li>
			<li>-Have messages queued for them if a user messages them while they are not online.</li>
			<li>-Have access to old chat history.</li>
			<li>-Have their chat name reserved after disconnect.</li>
		</ul>

	</div>
</div>
