@using System.Security.Claims
@using WindTalkerMessenger.Models.DataLayer
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Home Page";
}


<div class="containerBase">
	<div class="text-center">
		<h1>Welcome to Wind Talker</h1>
		<h2 class="indexH2">Taking back privacy.</h2>
		@if (SignInManager.IsSignedIn(User))
		{
			<p>@User.Claims.FirstOrDefault(x => x.Type == "ChatName")?.Value, your credentials have been verified.</p>
		}
		<p>We are happy to welcome you aboard.</p>
		<p>Your chat history and account information is in your hands.</p>
		<p>Guests are allowed to chat if you do not have an account.</p>
		<p>Please visit the "About" page to learn more!</p>

		<a id="enterButtonOverlay" type="button" class="btn btn-primary" asp-action="StartChatting" asp-controller="Messaging">Enter The Terminal</a>
	</div>
</div>

<script>
</script>