@using System.Security.Claims
@using WindTalkerMessenger.Models.DataLayer
@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
	ViewData["Title"] = "Home Page";
}

<!--The link below is the original source code for the blinking cursor-->
<!--https://dev.to/phuocng/blinking-cursor-35f4-->
<style>
	body {
		background-image: url('../banner.jpg');
		background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: 100% 100%;
	}

	.container {
		width: 1350px;
		height: 500px;
		background-color: black;
		margin: auto;
		color: green;
		opacity: 95%;
		border-radius: 25px;
		font-size: 20px;
		font-weight: bold;
	}

	h2 {
		margin-bottom: 70px;
	}

	#enterButton {
		margin-top: 40px;
		background-color: black;
		border-color: #7ACC00;
		border-width: 1px;
		height: 50px;
		color: #7ACC00;
		font-size: 20px;
		font-weight: bold;
	}



	#enterButton:hover {
		background-color: darkgreen;
		opacity: 95%;
	}

	* {
		box-sizing: border-box;
	}

	.cursor {
		background-color: rgb(122 204 0);
		width: 0.25rem;
		height: 2rem;
		display: inline-block;
		animation: blink 1s infinite;
		display: inline-block;
		position: relative;
		top: 7px;
	}

	@@keyframes blink {
		from {
			opacity: 1;
		}

		to {
			opacity: 0;
		}
	}
</style>

<div class="container">
	<div class="text-center">
		<h1>Welcome to the Agent Correspondance Terminal</h1>
		<h2>Powered by Wind Talker Technology Inc.</h2>
		@if (SignInManager.IsSignedIn(User))
		{
			<p>Agent @User.Claims.FirstOrDefault(x => x.Type == "ChatName")?.Value, your credentials have been verified.</p>
		}
		<p>We are happy to welcome you aboard. All transmissions have been secured.</p>

		<p>If you forget or lose your credentials, contact your main headquarters IMMEDIATELY.</p>
		<p>Guest passes are available if you cannot contact your headquarters at this time. <span class="cursor"></span></p>
		<a id="enterButton" type="button" class="btn btn-primary" asp-action="StartChatting" asp-controller="Messaging">Enter Secure Chat</a>
	</div>
</div>
