@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
<h1>Welcome to the WindTalker Messenger!</h1>
    <a type="button" class="btn btn-primary" asp-action="StartChatting" asp-controller="Messaging">Start Chatting</a>

</div>
